sidebar.blog-sidebar
    ul.blog-sidebar__list
        li.blog-sidebar__list__item.blog-sidebar__list__item_active
            a(href="#") Самое важное в SASS
        li.blog-sidebar__list__item
            a(href="#") Приемы в верстке, без которых необходится ни один сайт
        li.blog-sidebar__list__item
            a(href="#") Самый необходимый набор плагинов
        li.blog-sidebar__list__item
            a(href="#") Почему я выбрал PUG