include ./mixins.pug
doctype html
html(lang="ru")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      link(rel="stylesheet", href="")
      link(rel="stylesheet", href="")
      link(rel="stylesheet", href="style/main.min.css")
      title Логин

      style.
        .user-about__text p {
          margin-bottom: 25px;
        }
        .user-about__text ul {
          list-style: none;
        }

    body
      .wrapper
        section.login
            .authorize__btn#authorize__btn
                a(href="") Авторизоваться
            .container#login__container
                .login__about#login__about
                    .login__about__img
                        img(src="img/avatar.png", alt="")
                    .login__about__info
                        h2.login__heading.text_normal Павел Зотов
                        p.login__subheading Личный сайт веб-разработчика
                    .login__about__social
                        each item in ['vk', 'github', 'in']
                            .login__about__social__item
                                a(href="" class=`socials__link socials__link_${item}`)
                                    +icon(`${item}`, 'green_mod')
                    .login__about__buttons
                        a.login__about__button(href="/works.html") Мои работы
                        a.login__about__button(href="/about.html") Обо мне
                        a.login__about__button(href="/blog.html") Блог
                .login__form#login__form
                    form(action="")
                        h2.about__section-title_heading.login__form__heading Авторизуйтесь
                        .form-group.login__form__icon.icon_user
                            input(type="text" placeholder="Логин").login__form__input
                        .form-group.login__form__icon.icon_key
                            input(type="password" placeholder="Пароль").login__form__input
                        .form-group__double_center
                            label(for="checkbox").login__form__checkbox__label#login__form__checkbox__label
                                input.login__form__checkbox(type="checkbox" name="checkbox" checked="checked") 
                            p Я не робот
                        .form-group
                            p.text_centered.mb10 Вы точно не робот?
                            .form-group__double_center
                                .form-group__double__left
                                    label(for="radio").login__form__radio__label#login__form__radio__label__yes
                                        input(type="radio" checked="checked").login__form__radio.login__form__radio_left
                                    p Да
                                .form-group__double__right
                                    label(for="radio").login__form__radio__label#login__form__radio__label__no
                                        input(type="radio" checked="checked").login__form__radio.login__form__radio_right
                                    p Не уверен
                        .form-group__double_between
                            .form-group__buttons__left
                                button(type="submit").login__form__button#login__form__button-main На главную
                            .form-group__buttons__right
                                button(type="submit").login__form__button#login__form__button-submit Войти
        footer.login__footer
            .login__footer__text
                p &copy; Павел Зотов | Создано с любовью
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='js/app.js')
    script()
    script()