.mainMenu#mainMenu
	.mainMenu__container
		.mainMenu__wrapper
			a(href="/works.html").mainMenu__link.text--uppercase.text--bold Мои работы
			a(href="/about.html").mainMenu__link.text--uppercase.text--bold Обо мне
			a(href="/blog.html").mainMenu__link.text--uppercase.text--bold Блог
			a(href="/index.html").mainMenu__link.text--uppercase.text--bold Авторизация