extends ./template.pug
block title
  title Blog
block content
    .parallax#parallax
        .parallax__layer
            img(src="img/parallax-layer1.png", style="z-index: 100")
        .parallax__layer
            img(src="img/parallax-layer2.png", style="z-index: 200")
        .parallax__layer
            img(src="img/parallax-layer3.png", style="z-index: 300")
        .parallax__layer
            img(src="img/parallax-layer5.png", style="z-index: 400")
        .parallax__layer
            img(src="img/parallax-layer6.png", style="z-index: 500")
        .parallax__layer
            img(src="img/parallax-layer7.png", style="z-index: 600")
        .parallax__layer
            img(src="img/parallax-layer4.png", style="z-index: 700")