.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 1270px;
  & img {
    display: blocl;
    width: 100%;
    height: auto;
  }
}

.hero__title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  height: auto;
  @include phone_small(){
    top: 50%;
  }
  @include phone_large(){
    top: 50%;
  }
  @include tablet(){
    top: 50%;
  }
  @include laptop(){
    top: 70%;
  }
}

.hero__user-block {
  width: 380px;
  @include centered();
  position: relative;
  @include flex(center, center);
  &::before {
    content: "";
    position: absolute;
    background: url('../img/about_header.png') no-repeat center;
    width: 100%;
    height: auto;
    background-size: contain;
  }
  @include phone_small(){
    width: 250px;
  }
  @include tablet(){
    width: 250px;
  }
  @include laptop(){
    width: 380px;
  }
}

