.subtitle {
    color: $main-font-color;
    font-size: 34px;
    @include bernier-regular;
    padding: 45px 80px;
    display: inline-block;
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    @include phone_small() {
      font-size: 21px;
    }
    @include tablet() {
      font-size: 34px;
    }
  
    $margin : 40px;
  
    &:after, &:before {
      content: "";
      display: block;
      @include centered(y);
      background: rgba($main-font-color, .2);
      width: 22px;
      height: 5px;
    }
  
    &:after {
      right: $margin;
    }
  
    &:before {
      left: $margin;
    }
  }
  
  