.user {
	text-align: center;
}

.user__photo {
	width: 147px;
	height: 147px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	background-color: #ffffff;
	border-radius: 50%;
	margin-bottom: 10px;
	& picture {
		width: 100%;
		height: 100%;
		& img {
			width: 100%;
			height: auto;
		}
	}
}

.user__photo-avatar {
	display: block;
	max-width: 100%;
}

.user__name {
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 35px;
	width: 100%;
}

.user__desc {
	font-weight: 100;
	color: #ffffff;
}

