.works {
    height: auto;
    margin-top: -40px;
}
.work__triangles {
    fill: $white !important;
}
.works__heading {
    height: 190px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @include flex(center, center);
    &::before {
        content: "";
        background: url('../img/works-heading-bg.png') no-repeat center;
        background-size: contain;
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0px;
        top: -20px;
    }
    & h1,
    & h2 {
        @include bernier-regular;
        font-size: 63px;
        line-height: 56px;
        color: $black-font-color;
        text-align: center;
        position: relative;
        width: 287px;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 22px;
            height: 5px;
            background-color: #cbcbc6;

            position: absolute;
        }

        &::before {
            left: -40px;
            top: 20px;
        }
        &::after {
            right: -40px;
            top: 20px;
        }
    }
}
.works__heading_about {
    &::before {
        content: "";
        background: url('../img/about_header.png') no-repeat center;
        background-size: contain;
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0px;
        top: -20px;
    }
}
.works__slider {
    height: auto;
    min-height: 750px;
    background-color: $bg-beige;
    @include flex(space-between, center);
    &__left,
    &__right {
        width: 50%;
    }
}
.works__slider__left {
    @include flex(center, center);
}
.works__slider__left__wrapper {
    width: 420px;
    @include flex(center, center);
}
.works__slider__subheading {
    width: 350px;
    height: auto;
    position: relative;
    margin-bottom: 40px;
    & h2 {
        @include bernier-regular;
        font-size: 35px;
        line-height: 41px;
        color: $main-font-color;

        position: relative;
        text-align: center;
        &::before,
        &::after {
            content: "";
            width: 22px;
            height: 5px;

            background-color: #cbccc8;

            position: absolute;
        }
        &::before {
            top: 20px;
            left: -20px;
        }
        &::after {
            top: 20px;
            right: -20px;
        }
    }
}
.works__slider__tags {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 40px;
    @include flex(center, center);
    border-top: 1px solid #acd6ce;
    border-bottom: 1px solid #acd6ce;
    & p {
        @include roboto-medium;
        color: $green;
        font-size: 16px;
        line-height: 1.2em;
        text-align: center;
    }
}
.works__slider__link {
    width: 200px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;

    & a {
        background-color: $green;
        border-radius: 5px;

        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        padding-left: 30px;

        @include roboto-medium;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        line-height: 45px;
        text-decoration: none;
        & .icon {
            width: 20px;
            height: 20px;
            fill: $white;

            position: absolute;
            top: 13px;
            left: 19px;
        }
    }
}

.works__slides {
    width: 100%;
    height: 330px;
    margin-bottom: 100px;
    overflow: hidden;
    @include flex(center, center);
    position: relative;
    & img {
        width: 100%;
        height: auto;

        position: absolute;

        left: 0px;

        transition: all .5s ease-in;
    }
}
.works__slides__item_active {
    top: -100%;
}
.works__slider__controls {
    width: 100%;
    height: 225px;
    @include flex(space-between, center);
    &__left,
    &__right {
        width: 50%;
        height: 100%;
        @include flex(center, center);
        position: relative;
        & img {
            width: 100%;
            height: auto;
        }
        & a {
            width: 45px;
            height: 30px;

            position: absolute;
            left: 50%;
            margin-left: -22.5px;
            top: 50%;
            & svg {
                width: 100%;
                height: 100%;
                fill: $white;
            }
        }
    }
}
.works__reviews {
    width: 100%;
    height: auto;
    min-height: 1300px;
    background: url('../img/works-bottom-bg.png') no-repeat center;
    background-size: cover;
    @include flex(center, flex-start);
    & .container {
        @include flex(center, flex-start);
        padding-top: 75px;
    }
}
.reviews__slider {
    @include flex(space-between, center);
    width: 100%;
}
.reviews__slide {
    width: 380px;
    height: 240px;
    @include flex(flex-start, center);
    position: relative;
    & .icon {
        width: 30px;
        height: 30px;
        margin-bottom: 30px;
    }
}
.reviews__slide__contact {
    margin-top: 30px;
    @include flex(flex-start, center);
    & img {
        margin-right: 20px;
    }

}
.reviews__slide__text {
    @include roboto-regular;
    font-size: 16px;
    line-height: 26px;
    color: $main-font-color;
}
.text_bold {
    font-weight: 700;
}
.text_normal {
    font-weight: 400;
}
.text_green {
    color: $green;
}

.reviews__form {
    width: 420px;
    height: 440px;
    position: relative;
    margin-top: 70px;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;

        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        -webkit-filter: blur(1px);
        filter: blur(1px);
        background: rgba(255, 255, 255, .7);
    }
    
    border-radius: 5px;
    
    & form {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1000;
        & .form-group {
            margin-bottom: 17px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    }
}
.reviews__form__heading {
    @include bernier-regular;
    color: $main-font-color;
    text-align: center;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    font-size: 35px;
    line-height: 1em;
    
    position: relative;
    &::before,
    &::after {
        content: "";
        width: 22px;
        height: 5px;
        background-color: #455a64;

        position: absolute;
        top: 15px;
    }
    &::before {
        left: 0px;
    }
    &::after {
        right: 0px;
    }
}
.reviews__form__input {
    width: 340px;
    height: 45px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @include roboto-regular;
    font-size: 16px;
    line-height: 1.2em;
    color: $main-font-color;
    border: none;
    border-radius: 5px;

}

.reviews__form__textarea {
    width: 340px;
    height: 140px;
    padding-left: 16px;
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @include roboto-regular;
    font-size: 16px;
    line-height: 1.2em;
    color: $main-font-color;
    border: none;
    border-radius: 5px;

}

.form-group_between {
    width: 100%;
    height: auto;
    @include flex(space-between, center);
}
.reviews__button {
    width: 50%;
    height: 45px;

    @include roboto-regular;
    color: $white;
    font-size: 16px;
    line-height: 1.2em;

    background-color: $green;
    transition: all .5s;
    border: none;
    outline: none;
    &:hover {
        color: rgba(38, 140, 140, .9);
    }
    &:nth-child(1) {
        border-bottom-left-radius: 5px;
        border-right: 1px solid #82cfc9;
    }
    &:nth-child(2) {
        border-bottom-right-radius: 5px;
        border-left: 1px solid #82cfc9;
    }
}
.mb20 {
    margin-bottom: 20px;
}